<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello - {% block dashboard_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
</head>
<body class="dm-sans-regular">
    {% include "components/dashboard-header.html" %}
    <main class="main-dashboard">
        <h2>{% block dashboard_header_title %}{% endblock %}</h2>
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <span class="text-center">{{ message }}</span>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block dashboard_content %}{% endblock %}
        </div>
    </main>
</body>
</html>