@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Satisfy&display=swap');

/* Global style */
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    padding: 1rem 0;
}

p {
    padding: 1em 0;
}

table, tr, td, th {
    border: 1px solid #fff;
}

td {
    padding: 2rem 1rem;
}

.text-center {
    text-align: center;
}

body {
    background: #200122;
    background: linear-gradient(to bottom, #6f0000, #200122);
    color: #f1f1f1;
    line-height: 1.5;
    font-size: .8rem;
}

.container {
    width: 90%;
    margin: auto;
}

span > svg {
    width: 15px;
    fill: #f1f1f1;
}

.error {
    color: rgb(240, 76, 76);
}

a {
    text-decoration: none;
    color: #f1f1f1;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

p {
    color: rgb(187, 183, 183);
}

article {
    border-bottom: 1px solid #777;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 5px;
}

form {
    margin: auto;
}

.dashboard-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
}

input[type="text"], select {
    width: 90%;
    margin: auto;
    padding: .6rem .3rem;
    border-radius: 20px;
    border: 1px solid #777;
}

textarea {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    height: 200px;
}

input[type="email"], input[type="password"] {
    width: 90%;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 1em;
}

/* Regular Font Family (Satisfy and DM sans) */
.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.dm-sans-regular {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    height: 20dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #200122;
    background: linear-gradient(to right, #6f0000, #200122);
}

/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    letter-spacing: 1px;
}

.nav-right > .menu {
    display: none;
}


.main-title {
    background: #ffd800;
    color: #111;
    padding: 1em;
    border-radius: 20px;
    margin: 1em 0;
}


/* Article */
.article-title a:hover {
    text-decoration: underline;
}

.article-image {
    background-size: contain;
    flex: 1;
}

.article-image > img {
    height: 100px;
    width: 120px;
}

.article-area {
    display: flex;
    align-items: center;
    gap: 1em;
}

.article-content {
    flex: 2;
}

.article-content p {
    padding: .2em 0;
}

.source-vote {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.source {
    background: #f1f1f1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-radius: 20px;
    padding: 0 .5em;
    margin-bottom: .5rem;
}

.source a {
    color: #6f0000;
}

.vote {
    background: #222;
    padding: .5em;
    border-radius: 10px;
    display: flex;
    gap: .5rem;
}

.logo-title {
    font-size: 1.375rem;
}

.main-login-register, .main-dashboard {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: 100%;
    margin: 1rem 0;
}

.search-news {
    margin: 1em;
}

footer {
    padding: 1rem 0;
}

.button {
    width: 93%;
    background: #111;
    color: #fff;
    padding: 1em 0;
    margin-bottom: 1em;
}

.news-section {
    background: #200122;
    background: linear-gradient(to bottom, #200122, #6f0000);
    border-radius: 10px;
}

.news-section > h2 {
    text-align: center;
    border-bottom: 1px;
}

@media screen and (min-width: 540px) {

    .search-news {
        width: 70%;
        margin: auto;
    }

    .article {
        flex: 1 1 40%;
        margin-right: 1%;
    }

    .article:last-child {
        flex: 0 0 45%;
    }

    .article-single {
        width: 80%;
        margin: auto;
    }

    .nav-right > .menu {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

    .news {
        display: flex;
    }

    .news-section {
        padding: 1rem;
        margin: 1rem;
    }

    .search-news {
        width: 50%;
        margin: auto;
    }

    .breaking-news {
        flex: 1;
    }

    .top-news {
        flex: 1;
    }

    .article {
        flex: 1 1 25%;
        margin-bottom: 3px;
    }

    .article-image > img {
        width: 100%;
        height: 150px;
    }

    .article-single {
        width: 80%;
        margin: auto;
    }

    .nav-right > .hamburger-menu {
        display: none;
    }

    .nav-right > .menu {
        display: flex;
        gap: 1rem;
    }

    .main-login-register {
        width: 60%;
        margin: auto;
    }
}