{% extends "auth/auth_base.html" %}

{% block auth_header_title %}Login{% endblock %}

{% block auth_content %}
    <form action="" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" id="email" placeholder="main@example.com">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <button type="submit" class="button">Login</button>
        <div>
            Don't have an account? <a href="/register">Register</a>
        </div>
    </form>
{% endblock %}